  #spinner{
    border-radius: 50%;
    animation:spin 1s linear infinite ;
    border: 2px solid white;
    border-top:2px solid #1ABC9C;
    width: 25px;
    height: 25px;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1);
    
  }
  @keyframes spin{
   0% {transform: rotate(0deg);}
   10% {transform: rotate(50deg);}
   25%  {transform: rotate(90deg);}
   50%  {transform: rotate(180deg);}
    100%  {transform: rotate(360deg);}
  }
  #rotate{
      border-radius: 50%;
    animation:rotae 1s linear infinite ;
    border: 2px solid white;
    border-top:2px solid #1ABC9C;
    width: 100px;
    height: 100px;
    position:fixed;
    top: 350px;
    left:150px;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1);
  }
    @keyframes rotae{
   0% {transform: rotate(0deg);}
   10% {transform: rotate(50deg);}
   25%  {transform: rotate(90deg);}
   50%  {transform: rotate(180deg);}
    100%  {transform: rotate(360deg);}
  }